/****** Navbar ******/
.navbar {
    background-color:#0c0c0c;
    margin-bottom: 20px;
}

nav ul {
    justify-content: center;
}

.navbar a{
    color: #fff;
}

.nav-item:hover{
    background-color: #4c4c4c;
}

.nav-item:active{
    background-color:#373737;
    transform: scale(1.2);
}


/****** Configs gerais do corpo ******/
body {
    background-color:#e7e7e7;
    font-family: "Castoro", "Times New Roman", serif;
}

body a {
    text-decoration: none;
}


/****** Imagem principal ******/
#img-div {
    width: 50vw;
    margin: auto;
    padding: 10px;
    background-color:#848484;
}


/****** Títulos e subtítulos ******/
#title, .subtitle {
    text-align: center;
    margin: 0 20px 20px 20px;
    padding-top: 5%;
}

#img-caption {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.timeline-year {
    text-align: center;
}


/****** Containers ******/
#music-timeline, #feat-timeline, #awards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.item-list{
    background-color:#848484;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 20px 10px 20px 10px;
    text-align: justify;
}


/****** Carousel ******/
#albuns-carousel {
    width: 30vw;
    margin: auto;
    background-color: ##848484;
    padding: 20px;
}

.carousel-caption {
    background-color: rgba(132, 132, 132, .7);
    text-align: center;
}


/****** Carousel ******/
#button-div {
    margin: 50px;
    text-align: center;
    color: #fff;
}

#tribute-link {
    display: block;
    background-color:#0c0c0c;
    height: 50px;
    width: 250px;
    margin: auto;
    line-height: 50px;
    color: #fff;
    border: none;
}

#tribute-link:hover{
    background-color:#4c4c4c;
}

#tribute-link:active{
    background-color:#373737;
    transform: scale(1.2);
}

